
body{
    background-image: url(bence-balla-schottner-deGn9vSwXIM-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    opacity:1;
    background-attachment:fixed;
    font-family:"Trirong",serif ;
}

img{
    display: block;
    margin: 0 auto;
    width: 10%;
    max-width: 600px;
}
table{
    background-color: rgba(95, 142, 112, 0.8);
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
table td, th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

hr{
    border: 1.4px solid black;
    
}
li{
    color: rgb(0, 200, 255);
}
/* From Uiverse.io by satyamchaudharydev */ 
/* inspired form gumroad website */
.button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  border-color: var(--hover-bg);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

